@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>

<p>
    <a id="addBookBtn" class="btn btn-primary" asp-action="New">New Book</a>
</p>

<table id="books" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Book</th>
            <th>Genre</th>
            <th id="deleteColumn">Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts
{
    <script>
        $(document).ready(function () {
            const userRole = fetchUserRole();

            if (userRole === 'User') {
                $("#deleteColumn ").css({ "display": "none" });
                $("#addBookBtn").css({ "display": "none" });
            }

            const columns = [
                {
                    data: "name",
                    render: function (data, type, book) {
                        return "<span data-book-id=" + book.id + " class='clicked link-details'>" + book.name + "</span>";
                    },
                },
                {
                    data: "genre.name",
                },
            ];

            if (userRole !== 'User') {
                columns.push({
                    data: "id",
                    render: function (data) {
                        return "<button class='btn btn-secondary js-delete' data-book-id=" + data + ">Delete</button>"
                    }
                });
            }
           
            $("#books").DataTable({
                ajax: {
                    url: "/api/books",
                    dataSrc: "",
                },
                columns: columns,
                drawCallback: function () {
                    $(".clicked").each(function () {
                        $(this).addClass("link-details");
                        $(this).click(function () {
                            $.ajax({
                                url: "/api/books/" + $(this).attr("data-book-id") + "/details",
                                method: "GET",
                                success: function (id) {
                                    window.location = "/books/details/" + id;
                                }
                            });
                        });
                    });
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {

            var table = $("#books").DataTable();
            $("#books").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm({
                    message: "Confirm book deletion?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/books/" + button.attr("data-book-id"),
                                method: "DELETE",
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
}