@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    <span style="color: green;">Your account has been successfully created!</span> Please log in.
</p>
